.todo-list-button {
    margin: 2px 8px;
    width: 30px;
    height: 30px;
}
.todo-list-item {
    color: cornflowerblue;
    cursor: pointer;
}

.important {
    color: firebrick;
    font-weight: bold;

}

.done {
    text-decoration: line-through;
}